<!DOCTYPE html>
<html>
<head>
	<title>Flag Page</title>
	<link type="text/css" rel="stylesheet" href="{{url_for('static',filename='materialize.min.css')}}" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
 
</head>
<body>
	<script type="text/javascript">document.cookie = "Admin=False";</script>
<nav>
    <div style="background-color: #eb4d4b" class="nav-wrapper">
      <a href="#" class="brand-logo center">Debug in Production</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">

      </ul>
    </div>
  </nav>

<h1>I am living in the edge of world</h1>
<h4>Get the Debug pin from here</h4>

<div class="center-align">
	<!-- <video loop autoplay loop ><source src="{{url_for('static',filename='file.mp4')}}" type="video/mp4"></video> -->
		<img src="{{url_for('static',filename='hint.gif')}}">
</div>
<h2 style="color: white" class="center-align">RESPONCE is Good</h2>

<!-- <div id="gif" class="tenor-gif-embed" data-postid="16350193" data-share-method="host" data-width="50%" data-aspect-ratio="1.3423180592991915"><a href="https://tenor.com/view/waiting-watching-funny-popcorn-response-gif-16350193">Response is good</a> 

</div> -->

<div style="height: 100px;"></div>

<script type="text/javascript" async src="https://tenor.com/embed.js"></script>

<style type="text/css">
	#gif{
		position: absolute;
		/*margin-top: 10px;*/
		margin-left: 350px;
	}
</style>

</body>

<style type="text/css">
	h1{
		text-align: center;
		color: white

	}
	h4{
		text-align: center;
		color: white
	}
	body{
		background-color: #130f40
	}
</style>

<script type="text/javascript" src="{{url_for('static',filename='materialize.min.js')}}"></script>
</html>