<!DOCTYPE html>
<html>
<head>
	<title>Flag Page</title>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
	<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
 
</head>
<body>
	<script type="text/javascript">document.cookie = "Admin=False";</script>
<nav>
    <div style="background-color: #eb4d4b" class="nav-wrapper">
      <a href="#" class="brand-logo center">Coooookies !</a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">

      </ul>
    </div>
  </nav>

<h1>Here it is</h1>
<h4>{{flag}}</h4>
</body>

<style type="text/css">
	h1{
		text-align: center;
		color: white

	}
	h4{
		text-align: center;
		color: white
	}
	body{
		background-color: #130f40
	}
</style>
</html>